$baseW: 5rem;

.myLabel {
	position: relative;
  display: flex;
  width: $baseW;
  height: $baseW / 2;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
	&:before {
		position: relative;
    top: 1px;
    left: 1px;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $baseW / 2;
    box-shadow: -2px -4px 6px 0px rgba(255, 255, 255, 0.6) inset, 2px 4px 6px 0px rgba(136, 165, 191, .6) inset;
    content: "";
    transition: background 0.3s ease;
	}
	.mySpan {
		position: absolute;
    top: 0;
    left: 0;
    display: flex;
		align-items: center;
		justify-content: center;
    width: $baseW / 2;
    height: $baseW / 2;
    border-radius: 50%;
		background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    box-shadow: -2px -4px 6px 0px rgba(255, 255, 255, 0.6), 2px 4px 6px 0px rgba(136, 165, 191, .6);
    transition: all 0.3s ease;
	}


}

.la{
	display: none
}
.lo{
	position: absolute;
	right:10px;
	z-index: 1;
	align-self: center;
	color: #577399;
}
.lu{
    align-self: center;
    position: absolute;
	left:10px;
    z-index: 1;
	color: #FE5F55;
}

#toggle-input { display: none;
	&:checked {
		+ .myLabel {
			.mySpan {
				transform: translateX($baseW / 2);
			}
			.la{
				display: block
			}

		}
	}
}

.myBodyNav{
	#bodyNav{
		display: flex;
		justify-content: center;
	}
	ul{
		height: 60%;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	li{
		list-style: none;
		color: #8AA4C2;
		display: flex;
		align-items: center;
		padding-right: 195%;
		padding-left: 50%;
		margin-left: -50%;
		padding-top: 15%;
		padding-bottom: 10%;
		
		span{
			margin-left: 15px;
			font-size: 17px;
		} 

		&:hover{
			cursor: pointer;
		}

	}

	.myBadge{
		margin-left: -10%;
	}

	li.active{
		background-color: #F7F7FF;
		border-radius: 5px;

		span{
			color: #577399;
			font-weight: bold;
			
		} 

		.myIconNav{
			color: #FE5F55;
			font-size: 30px;
		}
	}
}

.bodyCardClass{
	position: relative;

	h2{
		text-align: center;
	}

	.cardClass{
		position: absolute;
		top: 12%;
    	left: 14%;
	}

	.cardName{
		font-style: italic;
		font-family: monospace;
		font-size: 14px;
		margin-top: 5px;
	}

	.cardTeach{
		display: flex;
		flex-direction: column;
		margin: 15px;
		align-items: center;
	}
}

.myModalCard{
	position: absolute;
	top: 5%;
	bottom: 12%;
	right: 5%;
	left: 5%;
	border-radius: 10px;
	background: #F7F7FF;
	box-shadow:  20px 20px 60px #d2d2d9,
				-10px -10px 60px #d2d2d9;
	z-index: 2;

	
	._18bV3 {
		--badge-height: 12px;
	}

	.myModalCardInfo{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		position: absolute;
		top: -5%;
		bottom: 5%;
		right: 5%;
		left:5%;
		align-items: center;
		margin-top: 10%;
	}

	.myTotalCardInfoAvatar{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
	}

	.myTotalCardInfo{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		height: 110px;
		margin-top: 10px;
	}
}